.adw-cdek {
  max-width: 640px;
  font-size: inherit;
  margin-bottom: 2em;
}
.adw-cdek__form {
  margin-bottom: 1em;
}
.adw-cdek__form-group {
  margin-bottom: 1em;
}
.adw-cdek__form-label {
  margin-bottom: 0.5em;
  display: block;
  font-weight: 600;
}
.adw-cdek__form-input {
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: border-color ease-in-out .25s, -webkit-box-shadow ease-in-out .25s;
  -o-transition: border-color ease-in-out .25s, box-shadow ease-in-out .25s;
  transition: border-color ease-in-out .25s, box-shadow ease-in-out .25s;
}
.adw-cdek__form-input:focus {
  border-color: #b7bbd3;
  outline: 0;
}
.adw-cdek__form-btn {
  border: 2px solid #575b71;
  text-shadow: none;
  box-shadow: none;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 4px;
  background: transparent;
  background-image: none;
  color: #575b71;
  -webkit-transition: color .35s ease, background-color .35s ease;
  -ms-transition: color .35s ease, background-color .35s ease;
  transition: color .35s ease, background-color .35s ease;
  line-height: 2rem;
}
.adw-cdek__form-btn:hover,
.adw-cdek__form-btn:focus {
  cursor: pointer;
  color: white;
  background-color: #575b71;
}
.adw-cdek__info {
  margin-top: 1.5em;
  border-radius: 0.5em;
  padding: 1em;
  border: 1px solid #ccc;
}
.adw-cdek__info-table {
  width: 100%;
  border: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
}
.adw-cdek__info-table th {
  font-size: 600;
}
.adw-cdek__info-table td {
  font-size: 1.25em;
}
.adw-cdek__info-status {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.adw-cdek__history {
  margin-top: 1em;
  padding-top: 0.5em;
}
.adw-cdek__history-title {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.adw-cdek__history-item + .adw-cdek__history-item {
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #ccc;
}