.adw-cdek {
  max-width: 640px;
  font-size: inherit;
  margin-bottom: 2em;
}
.adw-cdek__form {
  margin-bottom: 1em;
}
.adw-cdek__form-group {
  margin-bottom: 1em;
}
.adw-cdek__form-label {
  margin-bottom: 0.5em;
  display: block;
  font-weight: 600;
}
.adw-cdek__info {
  margin-top: 1.5em;
  border-radius: 0.5em;
  padding: 1em;
  border: 1px solid #ccc;
}
.adw-cdek__info-table {
  width: 100%;
  border: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
}
.adw-cdek__info-table th {
  font-size: 600;
}
.adw-cdek__info-table td {
  font-size: 1.25em;
}
.adw-cdek__info-status {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.adw-cdek__history {
  margin-top: 1em;
  padding-top: 0.5em;
}
.adw-cdek__history-title {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.adw-cdek__history-item + .adw-cdek__history-item {
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #ccc;
}