
.image.close {
   position: relative;
   overflow:hidden;
   width:100%;
   height:300px;
   margin: 20px 0;
   padding-top: 20px;
   transition: all 300ms;
   border-radius: 10px;
    border-radius: 10px;
}

.image.close img {
   position: absolute;
   top:0;
   left:50%;
   transform:translate(-50%,0);
   width:100%;
   object-fit:cover;
   transition: all 300ms;
}

.image img{
	position: relative;
   top:0;
   left: 0;
   width:100%;
   object-fit:cover;
   transition: all 300ms;
}
.image{
	position: relative;
   overflow:hidden;
   width:100%;
   height:auto;
   transition: all 300ms;
   border-radius: 10px;
    border-radius: 10px;
}

.image-arrow{
	position: absolute;
	width: 100%;
	height: 30px;
	background: #156391e3;
	bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid grey;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.image.close .image-arrow svg{
	transform: rotate(270deg);
	transition: all 300ms;
}
.image .image-arrow svg{
	transform: rotate(90deg);
	transition: all 300ms;
}

@keyframes myAnim{
	0%{
		height: 300px;
	}
	100%{
		height: auto;
	}
} 

td{
	border: 1px solid;
}

.body_text td:nth-child(1){
	width: 10%;
}

.image.close .image-arrow:hover{
background: #0d2b3cba;
}
.image .image-arrow:hover{
background: #0d2b3cba;
}
.image.close .image-arrow {
transition: all 300ms;
}
.image:hover .image-arrow {
transition: all 300ms;
}